<?xml version="1.0"?>

<config>
    <modules>
        <Mage_Unifiedpurse>
            <version>1.0.0</version>
        </Mage_Unifiedpurse>
    </modules>
    <global>
        <models>
            <unifiedpurse>
                <class>Mage_Unifiedpurse_Model</class>
                <resourceModel>unifiedpurse_mysql4</resourceModel>
            </unifiedpurse>
            <unifiedpurse_mysql4>
                <class>Mage_Unifiedpurse_Model_Mysql4</class>
                <entities>
                    <api_debug><table>unifiedpurse_api_debug</table></api_debug>
                </entities>
            </unifiedpurse_mysql4>
        </models>
		<helpers>
            <unifiedpurse>
                <class>Mage_Unifiedpurse_Helper</class>
            </unifiedpurse>
        </helpers>
        <resources>
            <unifiedpurse_setup>
                <setup>
                    <module>Mage_Unifiedpurse</module>
					<class>Mage_Unifiedpurse_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </unifiedpurse_setup>
            <unifiedpurse_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </unifiedpurse_write>
            <unifiedpurse_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </unifiedpurse_read>
        </resources>
        <blocks>
            <unifiedpurse><class>Mage_Unifiedpurse_Block</class></unifiedpurse>
        </blocks>
    </global>
    <frontend>
        <secure_url>
            <unifiedpurse_standard>/unifiedpurse/standard</unifiedpurse_standard>
        </secure_url>
        <routers>
            <unifiedpurse>
                <use>standard</use>
                <args>
                    <module>Mage_Unifiedpurse</module>
                    <frontName>unifiedpurse</frontName>
                </args>
            </unifiedpurse>
        </routers>
        <translate>
            <modules>
                <Mage_UnifiedpurseForm>
                    <files>
                        <default>Mage_Unifiedpurse.csv</default>
                    </files>
                </Mage_UnifiedpurseForm>
            </modules>
        </translate>
        <layout>
            <updates>
                <unifiedpurse>
                    <file>unifiedpurse.xml</file>
                </unifiedpurse>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Mage_Unifiedpurse>
                    <files>
                        <default>Mage_Unifiedpurse.csv</default>
                    </files>
                </Mage_Unifiedpurse>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <unifiedpurse_standard>
				<order_status>pending</order_status>
				<active>1</active>
                <payment_action>Payment</payment_action>
                <model>unifiedpurse/standard</model>
                <title>Unifiedpurse</title>
                <allowspecific>0</allowspecific>
            </unifiedpurse_standard>
        </payment>
    </default>
</config>